@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body {
  background-image: url(NEWS_150719564_AR_0_ZSWGNESDZKTF.webp);
  background-size: 100%;
  font-family: "Yusei Magic", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 50px;
}

img {
  width: 100%;
  height: 100%;
}

.main {
  background-color: white;
  margin: 0 auto 0 auto;
  width: 32%;
  border-radius: 20px;
  padding: 0 30px 50px 30px;
  border: solid 4px black;
}

.main h1 {
  text-align: center;
  font-size: 3em;
}

p {
  text-indent: 20px;
}

h2 {
  margin-top: 40px;
  margin-bottom: 0;
}

a + p {
  text-indent: 0;
}

section {
  display: none;
}

a {
  display: block;
  text-align: center;
  margin-top: 40px;
  background-color: rgb(53, 53, 53);
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  height: 30px;
  padding-top: 3px;
  transition: width 0.2s, height 0.2s, padding-top 0.2s, background-color 0.2s;
}

a:focus + section {
  display: contents;
}

a:hover {
  width: 21%;
  height: 33px;
  padding-top: 5px;
  background-color: grey;
}